.user-container{
    padding: 0.5rem;
    margin: 1rem 0;
    min-width: 70%;
    overflow: auto;
}

.mytable{
    table-layout: fixed;
    
}

.remove-button{
    position: absolute;
    left: -2rem;
    background-color: #ffffff00;
    border: none;
    background-image : url("https://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/24/trash-icon.png");
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    background-position: center;
    color: rgb(79, 112, 122);
    transition: 0.5s;
    outline: none;
     &:focus{
         background-color: #ffffff00;
         box-shadow: none;
     } 
}
.save-button{
    position: absolute;
    right: -2rem;
    background-color: #ffffff00;
    border: none;
    background-image : url("https://icons.iconarchive.com/icons/custom-icon-design/mono-general-1/16/save-icon.png");
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    background-position: center;
    color: rgb(79, 112, 122);
    transition: 0.5s;
    outline: none;
     &:focus{
         background-color: #ffffff00;
         box-shadow: none;
     } 
}

.edit-button {
    direction: rtl;
    float: right;
    background-color: #ffffff00;
    border: none;
    background-image : url("https://icons.iconarchive.com/icons/icons8/windows-8/24/Editing-Edit-icon.png");
    background-repeat: no-repeat;
    height: 2rem;
    width: 2rem;
    background-position: center;
    color: rgb(79, 112, 122);
    transition: 0.5s;
    box-shadow: none;
    &:focus{
        box-shadow: cadetblue;
        box-sizing: border-box; 
    }
}

.remove-button:active {
    background-color: white;
    transform: scale(0.98);
}

.remove-button:hover {
    margin: 0.1rem;
    box-shadow: -3px 4px 2px 0px #666666;
    background-color: white;
    border-radius: 30%;
    transform: scale(1.1);
    transition: 0.2s;
}